#content {
    height: 700px;
    padding: 0px;
}

.col-sm-5 {
    padding-left: 0px;
}

.image-col {
    height: 700px;
    overflow: hidden;
}

#pageContent {
    padding: 0px;
}

.intro_txt {
    padding-left: 450px;
    width: 97%;
}