.mainVersion {
    width: 900px;
}

.tab_treatment {
    max-width: 900px;
}

.tab_background, .content_text {
    max-width: 900px;
    padding: 5px;
    border: 1px solid #df9d7d;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

/** Buttons **/
#custom_interactive button {
    width: 108px;

    margin: 3px auto;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 2px 2px 7px #666666;
    -moz-box-shadow: 2px 2px 7px #666666;
    box-shadow: 2px 2px 7px #666666;
    color: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: #df9d7d;
    padding: 6px;
    border: solid #ffffff 1px;
    text-decoration: none;
    top: -18px;
    left: 20px;
    position: relative;
    z-index: 1;
}

#custom_interactive button:hover, #custom_interactive button.on {
    background: #bd3a00;
    text-decoration: none;
    color: #fff;
}

/** Arrows **/
.arrows {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7, .arrow8, .arrow9, .arrow10 {
    display: none;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
}

.hilite1, .hilite2, .hilite3, .hilite4, .hilite5, .hilite6, .hilite7, .hilite8, .hilite9, .hilite10 {
    display: block;
    background: rgba(189, 58, 0, .35);
}

/** Arrows Position - set position with top and left - first arrow is set defaults to top:0 left:0 **/
.arrow1 {
    background-image: url("../../../../global/images/arrows/1/AL1.png");
background-position: center right;
margin: 0 auto;
    top: 150px;
    left: 6px;
}
.hilite1 {
	margin-right: 90px;
    width: 82px;
    height: 30px;
}

.arrow2 {
    background-image: url("../../../../global/images/arrows/2/AL2.png");
background-position: center right;
margin: 0 auto;
    top: 172px;
    left: 6px
}
.hilite2 {
    margin-right: 90px;
    width: 82px;
    height: 30px;
}

.arrow3 {
    background-image: url("../../../../global/images/arrows/3/AL3.png");
background-position: center right;
margin: 0 auto;
    top: 198px;
    left: 6px
}
.hilite3 {
    margin-right: 90px;
    width: 82px;
    height: 30px;
}

.arrow4 {
    background-image: url("../../../../global/images/arrows/4/AU4.png");

    height: 185px;
    top: 33px;
    left: 80px
}
.hilite4 {
    width: 30px;
    height: 53px;
}
.arrow5 {
    background-image: url("../../../../global/images/arrows/5/AU5.png");

    height: 185px;
    top: 33px;
    left: 80px
}
.hilite5 {
    width: 30px;
    height: 53px;
}

.arrow6 {
    background-image: url("../../../../global/images/arrows/6/AU6.png");

    height: 185px;
    top: 33px;
    left: 80px
}
.hilite6 {
    width: 30px;
    height: 53px;
}

.arrow7 {
    background-image: url("../../../../global/images/arrows/7/AU7.png");

    height: 185px;
    top: 33px;
    left: 80px
}
.hilite7 {
    width: 30px;
    height: 53px;
}
.arrow8 {
    background-image: url("../../../../global/images/arrows/8/AU8.png");

    height: 185px;
    top: 33px;
    left: 80px
}
.hilite8 {
    width: 30px;
    height: 53px;
}
/** Bottom Text Area **/
.content_text {
    padding: 35px;
    20px;
    position: relative;
    top: -35px;
    min-height: 72px;
}

.content1, .content2, .content3, .content4, .content5, .content6, .content7, .content8, .content9, .content10 {
    display: none;
}
